


progress::-moz-progress-bar {
  background: lightcolor;
}

progress::-webkit-progress-value {
  background: #e31018;
}

progress::-webkit-progress-bar {
  background: #6b7280;
}

video::-webkit-media-controls { display:none !important; }

#controls { z-index:2147483647; }

/* 
not in use apparently 
.progress::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: transparent;
  top: 19%;
  transform: translateY(-50%);
} */

.progress:hover .handle {
  opacity: 1;
}

.hovering-card {
  visibility: hidden;
  transition: all ease 400ms;
}

.isVisible {
  visibility: visible;
  height: 250px;
  width: 300px;
  background-color: rgb(59, 59, 59);
  transform: translate3d(-10%, -10%, 0);
}

body.modal-opened {
  overflow: hidden;
}
