.ant-slider.ant-slider-vertical {
  margin: 5px 0px 0px 0px;
  height: 60px;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

progress::-webkit-progress-value {
  background: #e31018;
}

progress::-webkit-progress-bar {
  background: #6b7280;
}

.ant-popover-placement-top .ant-popover-arrow .ant-popover-arrow-content{
  background-color: #26292e;
}

.ant-popover-content .ant-popover-inner .ant-popover-inner-content { 
  padding: 10px 8px;
}


video::-webkit-media-controls { display:none !important; }

#controls { z-index:2147483648; }

.progressBar::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;

}